.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 35px;


  .green {
    color: #00897B;
  }
.red{
  color: red;
}
  .categories {
    color: #212121;
    border: 1px solid lightgreen;
    padding: 15px;
    border-radius: 50%;
    background-color: lightgreen;
  }

.black{
  color: black;
}

  .chart {
    border: 1px solid #FFECB3;
    padding: 15px;
    border-radius: 50%;
    background-color: #FFECB3;
  }
}