.avatar-user {
  margin: 20px 20px;
  border-radius: 50%;
  border: 1px solid #00897B;
  background-color: #00897B;
  padding: 20px;




  .transaction {
    margin-top: 18px;
    justify-content: space-between;
    align-items: center;


  }

}

.transaction-form-box {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 9999;

  .transaction-form {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    width: 100vw;
    padding: 16px;
    text-align: center;

    .category-box {
      text-align: left;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
